/* *{
    padding: 0;
    margin: 0;
}
.customer-bg{
    margin-left: 5%;
    margin-top: 5%;
    h3{
        margin-bottom: 2%;
    }
}

.customer-table {
    width: 1100px;
    height: 200px;
  border: 1px solid rgb(178, 175, 175);
  background: white;
  padding: 20px;
  border-radius: 10px;
  gap: 10px;
}
.customer-items{
     width: 100%;
    height: 60px;
    background-color: rgb(220, 220, 218);
    display: flex;
    align-items: center;
    gap: 10px;
    th{
       padding-left: 170px;
    }
}
.cus-empty{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
} */